pytest
pytest-cov
pytest-localserver
flask
urllib3>=2.1.0,<3.0
ruff

# dependencies from score client
colorlog>=6.9.0
google-cloud-language>=2.16.0
language-tool-python>=2.8.1
openai>=1.59.8
pre-commit>=4.0.1
pyspellchecker>=0.8.2
python-dotenv>=1.0.1
sentence-transformers>=4.0.2
accelerate>=1.6.0
spacy>=3.8.4
textstat>=0.7.4